@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lilita+One&family=Oswald&display=swap");
body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: #0c8333;
}
h1 {
  font-family: "Lilita One", cursive;
}
input[type="radio"] {
  height: 50px;
  width: 50px;
  border-radius: 50% !important;
  cursor: pointer;
}
.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: white !important;
  box-shadow: 0;
}
.banner,
.thumbnail,
.roundedThumbnail {
  height: 50px;
  width: 50px;
  background-color: rgb(203, 203, 203);
  cursor: pointer;
}
.banner {
  height: 60px;
  width: 150px;
}
.roundedThumbnail {
  border-radius: 50%;
}

.thumbnailDisplay,
.roundedThumbnailDisplay,
.bannerDisplay {
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin-top: 40px;
}
.thumbnailDisplay {
  border-radius: 10px;
}
.bannerDisplay {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-top: 0px;
}
.roundedThumbnailDisplay {
  border-radius: 50%;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #ffd500;
}
.off {
  color: #ccc;
}
.onDot {
  color: black;
}
.offDot {
  color: rgb(179, 179, 179);
}
.icon {
  color: rgb(196, 196, 196);
  cursor: pointer;
}

.icon:first-of-type:hover {
  color: #ffd500;
}
.icon:nth-of-type(2):hover {
  color: #0dcabe;
}

.progress {
  height: 10px;
}
.progress-bar {
  background-color: rgb(13, 202, 190);
}
